{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "pkgRoot": "build"
    }],
    ["@semantic-release/exec", {
      "prepareCmd": "npm run build && node scripts/strip-dev-config.js ${nextRelease.version} && cp prod.package.json build/package.json && npm shrinkwrap && cp npm-shrinkwrap.json build/"
    }]
  ]
}